.headline {
    font-family: 'spartan', sans-serif;
    font-size: 2.6rem;
    line-height: 1.3;
    color: $primary-color;


    @include atSmall {
        font-size: 3.2rem;
        font-weight: 200;

    }

    @include atMedium {
        font-size: 3.4rem;
    }



    &--small {
        font-size: 1.6rem;

        @include atSmall {
            font-size: 1.8rem;
            font-weight: 300;
        }
    }

    &--medium {
        font-size: 2.1rem;

        @include atSmall {
            font-size: 2.4rem;
        }
    }

    &--centered {
        text-align: center;
    }

    &--b-margin-small {
        margin-bottom: .5em;
    }

    &--b-margin-medium {
        margin-bottom: 1.5em;
    }

    &--t-margin-small-until-medium {
        margin-top: .5em;

        @include atMedium {
            margin-top: 0;
        }
    }

    &--white {
        color: white;
    }
}